@page "/"

<style>
    body {
        background: linear-gradient(to right, #3da4dc, var(--mainColor));
    }

    .@sidebarClass {
        display: none;
    }
</style>

<PageTitle>Welcome</PageTitle>

<div class="wrapper">
    <div class="container">
        <h1 class="text">Skill Forge</h1>
        <p>Improve your knowledge, while having fun!</p>
        <br>    
        <button class="btn1">
            <a class="link" href="/Account/Register">Sign up</a>
        </button>
        <p>Already have an account?</p>
        <button class="btn2">
            <a class="link" href="/Account/Login">Sign in</a>
        </button>
    </div>
</div>
@code{
    private string sidebarClass = "open"; // Default to open
}